:root {
  --pearl-gray: #ececec;
  --light-peach: #f7cbbf;
  --apricot: #fcab98;
  --medium-green: #59c7b4;
  --light-emerald: #1b9d6b;
  --parrot-green: #628a28;
}

main {
  margin-bottom: 0%;
}

aside {
  background-color: var(--light-peach);
  height: 100vh;
}

.nav-wrapper {
  background-color: var(--apricot);
}

.recipe-card {
  background-color: var(--parrot-green);
}

.button {
  width: 100%;
  margin: 10px 0;
}

.back-to-food {
  margin-top: 30px;
}

#hidden-drink {
  display: none;
}

#hidden-btn {
  display: none;
}
