:root {
  --pearl-gray: #ececec;
  --light-peach: #f7cbbf;
  --apricot: #fcab98;
  --medium-green: #59c7b4;
  --light-emerald: #1b9d6b;
  --parrot-green: #628a28;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* copy from here for the nav bar */
.nav-wrapper {
  background-color: var(--apricot);
}

.brand-logo {
  margin-left: 20px;
}
/* to here */

.containercard {
  content: "";
  clear: both;
  display: table;
  padding: 10px;
}

.card {
  float: left;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 2px 8px 0px;
  width: 190px;
  max-height: 190px;
  margin: 50px;
}

.page-footer {
  left: 0;
  bottom: 0;
  width: 100%;
}
p {
  font-size: 15px;
  text-align: center;
}
