:root {
  --pearl-gray: #ececec;
  --light-peach: #f7cbbf;
  --apricot: #fcab98;
  --medium-green: #59c7b4;
  --light-emerald: #1b9d6b;
  --parrot-green: #628a28;
}

aside {
  background-color: var(--light-peach);
  height: 100vh;
}

.recipe-card {
  background-color: var(--parrot-green);
}

.button {
  width: 100%;
  margin: 10px 0;
}
